body {
  font-family: arial, sans, overpass;
  margin-left: auto;
  margin-right: auto;
  width: 65em;
  max-width: 90vw;
  min-width: 20em;
  /* prevent page shifting */
  overflow-y: scroll;
}

body {
    background-image: url("antisocial.png");
    background-repeat: no-repeat;
    background-position-x: 84vw;
    background-position-y: 95vh;
    background-size: 15vw 5vh;
    background-attachment: fixed;
}

.votable {
  margin-bottom: 1em;
  display: table;
}

.item {
  display: table-cell;
  vertical-align: middle;
}

.itemline {
  font-size: smaller;
}

.itemline span {
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px solid black;
}

.unseen:link, .unseen:visited {
  font-weight: bold;
  color: red!important;
}

.title, .sitename {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.warning {
  color:red;
  text-align: center;
  padding: 0.5em;
  text-decoration: underline;
}

.votelinks {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding-right: 0.5em;
}

.votelinks form {
  margin: 0;
}

pre, code {
  font-family: overpass mono;
}

.menu {
  margin-top: 1em;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  position: sticky;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

.logo {
  float: left;
  height: 1.5em;
  margin-right: 1em;
}

.menu span {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

a:link, a:visited {
  color: rgb(0,0,0);
  text-decoration: none;
}

.title:link {
  color: rgb(0,0,0);
  text-decoration: none;
}

.title:visited {
  color: rgb(120,120,120);
  text-decoration: none;
}

.domain {
  font-size: smaller;
}

.embed {
  height: 33.3%;
  width: 33.3%;
  object-fit: cover;
}

.field, .button {
  border: 1px solid rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.1);
  border-radius: 0.3em;
  margin: 0.5em;
  padding: 0.5em;
  color: black;
}

.button {
  width: auto;
  cursor: pointer;
  background: black;
  font-weight: bold;
  color: white;
}

.arrow {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.arrow[disabled] {
  color: lightgray;
  cursor: default;
}

::selection {
  color: white;
  background: black;
}

textarea {
  width: 100%;
  min-height: 6em;
  resize: vertical;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background: rgba(255,255,255,0.15);
  color: black;
  padding: 1em;
  font-size: larger;
}

.items {
  padding-left: 0.5em;
}

.items > li {
  list-style-type: none;
  margin-left: 1em;
  word-break: break-all;
}

.footer {
  position: fixed;
  text-align: center;
  width: 100vw;
  bottom: 1em;
  left: 0;
  font-size: small;
  color: gray;
}

blockquote {
  border-left: 0.3em solid lightgray;
  padding-left: 1em;
  margin: 0;
}

.doc-head {
  display: block;
}

.doc-head:hover + .doc-body {
  display: block;
}

.doc-body {
  display: none;
  position: fixed;
  background: white;
  border: 1px solid black;
}
